body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  line-height: 1;
  text-align: center;
}

button {
  font-size: 30px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  background-color: rgb(99, 161, 99);
}

.steps.active,
.maxvalue.active {
  background-color: rgb(82, 82, 206);
  color: white;
}

.steps,
.maxvalue {
  background-color: rgb(20, 20, 155);
  color: white;
}

.steps:hover,
.maxvalue:hover {
  background-color: rgb(58, 58, 92);
}

.counter {
  border-radius: 0.2rem;
  background-color: rgb(99, 161, 99);
  color: white;
}

.counter:hover {
  background-color: rgb(33, 53, 33);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}
